$light: #fff;
$primary: #000d82;

$font-family-sans-serif: 'Poppins';
$headings-font-style: italic;

$h1-font-size: clamp(2.5rem, 5.49vw + 1.059rem, 6rem);
$h2-font-size: clamp(2.25rem, 4.706vw + 0.765rem, 5rem);
$h3-font-size: clamp(2rem, 1.569vw + 1.588rem, 3rem);
$h4-font-size: clamp(1.75rem, 0.784vw + 1.544rem, 2.25rem);
$h5-font-size: clamp(1rem, 0.196vw + 0.949rem, 1.125rem);

$carousel-indicator-opacity: 1;
$carousel-indicator-width: clamp(0.5rem, 0.769vw + 0.308rem, 1rem);
$carousel-indicator-height: clamp(0.5rem, 0.769vw + 0.308rem, 1rem);

$carousel-control-opacity: 1;

$btn-close-color: $light;
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

p,
a {
  font-size: clamp(0.875rem, 0.196vw + 0.824rem, 1rem);
}

.u-frame {
  max-width: 90rem;
}

.u-frameSmall {
  max-width: 75rem;
}

.u-shadowText {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.u-frameOffset {
  padding-inline: clamp(1rem, 15.476vw + -6.429rem, 7.5rem);

  @media (max-width: 1400px) {
    padding-inline: 0;
  }
}

.u-sectionPadding {
  padding-inline: clamp(2.5rem, 3.922vw + 1.471rem, 5rem);
  padding-block: clamp(1rem, 15.476vw + -6.429rem, 7.5rem);

  @media (max-width: 576px) {
    padding-inline: 0;
  }
}

.u-sectionMargin {
  margin-inline: clamp(2.5rem, 3.922vw + 1.471rem, 5rem);
}

.u-h3Small {
  font-size: clamp(1.75rem, 0.784vw + 1.544rem, 2.25rem);
}

.u-layerTop {
  z-index: 1;
  max-width: 90%;
}

.u-playerPosition {
  position: absolute;
  width: 40%;
  bottom: -5%;
  right: -11%;
  z-index: 0;

  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.u-paddingLarge {
  padding-bottom: clamp(10rem, 7.143vw + 6.571rem, 13rem);

  @media (max-width: 768px) {
    padding-bottom: 2rem;
  }
}

.hmb {
  height: 100%;
  width: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.hmbLine {
  width: 2rem;
  height: 0.2rem;
  border-radius: 999px;
  background-color: $light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  &-top {
    transform: translate(-50%, -0.6rem);
  }

  &-bottom {
    transform: translate(-50%, 0.4rem);
  }
}

.nav-link {
  display: block;

  &,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    color: $light;

    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: none;
      color: $light;
      background-color: $primary;
    }
  }
}

.localization-langs {
  max-height: 0;
}

.localization:hover .localization-langs {
  max-height: 100vh;
  z-index: 20;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  background-color: $dark;
  color: $light;
}

.imgCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicator {
  border-radius: 50%;
  transition: all 0.4s ease-in;

  &.active {
    background-color: $primary;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;

  @media (max-width: 576px) {
    width: 2rem;
    height: 2rem;
  }
}

.servicesIcon {
  max-height: clamp(3.5rem, 6.154vw + 1.962rem, 7.5rem);
  max-width: clamp(3.5rem, 6.154vw + 1.962rem, 7.5rem);
}
